.ViewRecipePage {
  display: flex;
  height: 90vh;
  transform: scale(0.9);
  flex-direction: row; /* Flex direction pentru a pune secțiunile în linie orizontală */
  justify-content: center;
  align-items: flex-start; /* Align items to the top for better alignment */

  .recipe {
    display: flex;
    flex-direction: row; /* Coloană orizontală */
    justify-content: space-between;
    width: 100%; /* Asigură că containerul principal are 100% lățime */

    .recipe-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 60vw; /* Lățimea zonei pentru recipe */
      height: 85vh;
      overflow-y: scroll;

      .recipe-description {
        width: 50vw;
        display: flex;
        flex-direction: row;
        height: 50vh;
        background-color: #fdfdfd;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        border-radius: 12px !important;

        .left-column {
          width: 40%; /* Lățimea imaginii */
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 12px 0px 0px 12px;
          }
        }

        .right-column {
          display: flex;
          width: 60%; /* Lățimea textului */
          flex-direction: column;
          justify-content: space-between;
          padding: 30px;

          .time-and-servings {
            display: flex;
            justify-content: space-between;
          }
        }
      }

      .recipe-details {
        margin-top: 18px;
        display: flex;
        flex-direction: row;
        width: 50vw;
        justify-content: space-between;

        .ingredients {
          h2 {
            text-align: center;
            margin-bottom: 10px;
          }
          display: flex;
          flex-direction: column;
          width: 40%;
          padding: 30px;
          background-color: #fdfdfd;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
          border-radius: 12px !important;
          margin-right: 10px;

          .ingredients-list {
            display: flex;
            flex-direction: column;
            gap: 10px;
            padding: 10px;
            border-radius: 12px;
          }
        }

        .instructions {
          h2 {
            text-align: center;
            margin-bottom: 10px;
          }
          display: flex;
          flex-direction: column;
          width: 40%;
          padding: 30px;
          background-color: #fdfdfd;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
          border-radius: 12px !important;
        }
      }

      &::-webkit-scrollbar {
        width: 12px;
        height: 12px;
        background-color: transparent;
      }

      &::-webkit-scrollbar-thumb {
        background-color: #909BAB;
      }

      &::-webkit-scrollbar-thumb:hover {
        border-radius: 10px;
      }
    }
  }

  .reviews {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw; /* Lățimea zonei pentru reviews */
    height: 40vh;
    border-radius: 12px !important;

    /* Adăugăm aceste reguli pentru a centra secțiunea vertical */
    margin-top: auto;
    margin-bottom: auto;
  }
}
